USE [ASMBatchReports]
GO
/****** Object:  StoredProcedure [dbo].[RetrieveAndStoreAllBatchData]    Script Date: 6/24/2026 11:55:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[RetrieveAndStoreAllBatchData]
    @StartDate DATETIME = NULL,
    @EndDate   DATETIME = NULL,
    @ShadowMode BIT = 1            -- 1 => write to dbo.BatchMaterials_Shadow (validation); 0 => dbo.BatchMaterials (live)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @UseDateRange BIT = CASE WHEN @StartDate IS NOT NULL AND @EndDate IS NOT NULL THEN 1 ELSE 0 END;

    -- DEDICATED watermark keys, isolated from the old StagePV chain (which uses 'Server1'/'Server2').
    -- Seed once before first run:
    --   INSERT dbo.DataSyncTracker ([Source Server],LastTimeStamp) VALUES ('Server1_NFM',NULL),('Server2_NFM',NULL);
    DECLARE @LastBT_S1 DATETIME, @LastBT_S2 DATETIME;
    SELECT @LastBT_S1 = LastTimeStamp FROM dbo.DataSyncTracker WHERE [Source Server] = 'Server1_NFM';
    SELECT @LastBT_S2 = LastTimeStamp FROM dbo.DataSyncTracker WHERE [Source Server] = 'Server2_NFM';

    CREATE TABLE #TempBatchData
    (
        [Source Server] NVARCHAR(50), [Batch GUID] UNIQUEIDENTIFIER, ROOTGUID UNIQUEIDENTIFIER,
        OrderId INT, [Batch Name] NVARCHAR(255), [Product Name] NVARCHAR(255),
        [Batch Act Start] DATETIME, [Batch Act End] DATETIME, [Batch Transfer Time] DATETIME,
        Quantity FLOAT, [Material Name] NVARCHAR(255), [Material Code] NVARCHAR(255),
        sp_prot FLOAT, [SetPoint Float] FLOAT, [Actual Value Float] FLOAT,
        [TimeStamp] DATETIME, FormulaCategoryName NVARCHAR(255)
    );

    /* ---- Server1 ---- */
    ;WITH S1 AS (
        SELECT 'Server1' AS [Source Server], BC.OGUID, BC.ROOTGUID, BC.OrderId,
            BC.Name AS [Batch Name], BC.ProductName AS [Product Name],
            CONVERT(DATETIME, BC.ActStart) AS [Batch Act Start],
            CONVERT(DATETIME, BC.ActEnd) AS [Batch Act End],
            CONVERT(DATETIME, BC.BatchTransferTime) AS [Batch Transfer Time],
            BC.Quantity, ISNULL(PV.sp_matname, PV.Name) AS [Material Name], PV.sp_matcode AS [Material Code],
            PV.sp_prot, 
			SUM(PV.sp_float) OVER (
				PARTITION BY
					PV.ROOTGUID,
					PV.sp_matcode,
					ISNULL(PV.sp_matname, PV.Name),
					PV.sp_prot
			) AS TotalSetPoint,
            PV.TimeStamp, BC.FormulaCategoryName,
           SUM(PV.av_float) OVER (
				PARTITION BY
					BC.OGUID,
					BC.FormulaCategoryName,
					PV.sp_matcode,
					ISNULL(PV.sp_matname, PV.Name),
					PV.sp_prot
			) AS [Actual Value Float],

			ROW_NUMBER() OVER (
				PARTITION BY
					PV.ROOTGUID,
					PV.sp_matcode,
					ISNULL(PV.sp_matname, PV.Name),
					PV.sp_prot
				ORDER BY PV.TimeStamp DESC
			) AS rn
        FROM [FAKIEH_SERVER1].ASMBatchReports.dbo.BatchCopy AS BC
        INNER JOIN [FAKIEH_SERVER1].ASMBatchReports.dbo.ParValueOnline_copy AS PV ON BC.OGUID = PV.ROOTGUID
        WHERE (PV.sp_float > 0 OR PV.Name = 'Fat_Totalizer')
          AND (PV.sp_matname IS NOT NULL OR PV.Name = 'Fat_Totalizer')
          AND (PV.sp_prot IS NOT NULL OR PV.Name = 'Fat_Totalizer')
          AND ( (@UseDateRange = 1 AND BC.BatchTransferTime BETWEEN @StartDate AND @EndDate)
             OR (@UseDateRange = 0 AND (@LastBT_S1 IS NULL OR BC.BatchTransferTime > @LastBT_S1)) )
    )
    INSERT INTO #TempBatchData
    SELECT [Source Server], OGUID, ROOTGUID, OrderId, [Batch Name], [Product Name],
           [Batch Act Start], [Batch Act End], [Batch Transfer Time], Quantity, [Material Name],
           [Material Code], sp_prot, TotalSetPoint AS [SetPoint Float],  [Actual Value Float], TimeStamp, FormulaCategoryName
    FROM S1 WHERE rn = 1;

    /* ---- Server2 ---- */
    ;WITH S2 AS (
        SELECT 'Server2' AS [Source Server], BC.OGUID, BC.ROOTGUID, BC.OrderId,
            BC.Name AS [Batch Name], BC.ProductName AS [Product Name],
            CONVERT(DATETIME, BC.ActStart) AS [Batch Act Start],
            CONVERT(DATETIME, BC.ActEnd) AS [Batch Act End],
            CONVERT(DATETIME, BC.BatchTransferTime) AS [Batch Transfer Time],
            BC.Quantity, ISNULL(PV.sp_matname, PV.Name) AS [Material Name], PV.sp_matcode AS [Material Code],
            PV.sp_prot, 
			SUM(PV.sp_float) OVER (
				PARTITION BY
					PV.ROOTGUID,
					PV.sp_matcode,
					ISNULL(PV.sp_matname, PV.Name),
					PV.sp_prot
			) AS TotalSetPoint,
            PV.TimeStamp, BC.FormulaCategoryName,
            SUM(PV.av_float) OVER (
				PARTITION BY
					BC.OGUID,
					BC.FormulaCategoryName,
					PV.sp_matcode,
					ISNULL(PV.sp_matname, PV.Name),
					PV.sp_prot
			) AS [Actual Value Float],
		ROW_NUMBER() OVER (
				PARTITION BY
					PV.ROOTGUID,
					PV.sp_matcode,
					ISNULL(PV.sp_matname, PV.Name),
					PV.sp_prot
				ORDER BY PV.TimeStamp DESC
			) AS rn
        FROM [FAKIEH_SERVER2].ASMBatchReports.dbo.BatchCopy AS BC
        INNER JOIN [FAKIEH_SERVER2].ASMBatchReports.dbo.ParValueOnline_copy AS PV ON BC.OGUID = PV.ROOTGUID
        WHERE (PV.sp_float > 0 OR PV.Name = 'Fat_Totalizer')
          AND (PV.sp_matname IS NOT NULL OR PV.Name = 'Fat_Totalizer')
          AND (PV.sp_prot IS NOT NULL OR PV.Name = 'Fat_Totalizer')
          AND ( (@UseDateRange = 1 AND BC.BatchTransferTime BETWEEN @StartDate AND @EndDate)
             OR (@UseDateRange = 0 AND (@LastBT_S2 IS NULL OR BC.BatchTransferTime > @LastBT_S2)) )
    )
    INSERT INTO #TempBatchData
    SELECT [Source Server], OGUID, ROOTGUID, OrderId, [Batch Name], [Product Name],
           [Batch Act Start], [Batch Act End], [Batch Transfer Time], Quantity, [Material Name],
           [Material Code], sp_prot, TotalSetPoint AS [SetPoint Float],  [Actual Value Float], TimeStamp, FormulaCategoryName
    FROM S2 WHERE rn = 1;

    /* ---- Collapse to merge granularity, then MERGE into the chosen target ----
       T-SQL can't parameterize a MERGE target, so there are two static MERGE blocks
       gated by @ShadowMode; both read the same Agg from #TempBatchData. ---- */
    IF @ShadowMode = 1
    BEGIN
        ;WITH Agg AS (
            SELECT [Source Server], [Batch GUID], [Material Name], [Material Code], FormulaCategoryName, sp_prot,
                MAX(ROOTGUID) AS ROOTGUID, MAX(OrderId) AS OrderId, MAX([Batch Name]) AS [Batch Name],
                MAX([Product Name]) AS [Product Name], MIN([Batch Act Start]) AS [Batch Act Start],
                MAX([Batch Act End]) AS [Batch Act End], MAX([Batch Transfer Time]) AS [Batch Transfer Time],
                MAX(Quantity) AS Quantity, MAX([SetPoint Float]) AS [SetPoint Float], MAX([Actual Value Float]) AS [Actual Value Float]
            FROM #TempBatchData
            GROUP BY [Source Server], [Batch GUID], [Material Name], [Material Code], FormulaCategoryName, sp_prot
        )
        MERGE dbo.BatchMaterials_Shadow AS T
        USING Agg AS S
          ON  T.[Source Server] = S.[Source Server]
          AND T.[Batch GUID]    = S.[Batch GUID]
          AND ( (T.[Material Name] IS NULL AND S.[Material Name] IS NULL) OR T.[Material Name] = S.[Material Name] COLLATE DATABASE_DEFAULT )
          AND ( (T.[Material Code] IS NULL AND S.[Material Code] IS NULL) OR T.[Material Code] = S.[Material Code] COLLATE DATABASE_DEFAULT )
          AND T.FormulaCategoryName = S.FormulaCategoryName COLLATE DATABASE_DEFAULT
          AND ( (T.sp_prot IS NULL AND S.sp_prot IS NULL) OR T.sp_prot = S.sp_prot )
        WHEN NOT MATCHED THEN
          INSERT ([Source Server],[Batch GUID],ROOTGUID,OrderId,[Batch Name],[Product Name],[Batch Act Start],
                  [Batch Act End],[Batch Transfer Time],Quantity,[Material Name],[Material Code],sp_prot,
                  [SetPoint Float],[Actual Value Float],FormulaCategoryName)
          VALUES (S.[Source Server],S.[Batch GUID],S.ROOTGUID,S.OrderId,S.[Batch Name],S.[Product Name],S.[Batch Act Start],
                  S.[Batch Act End],S.[Batch Transfer Time],S.Quantity,S.[Material Name],S.[Material Code],S.sp_prot,
                  S.[SetPoint Float],S.[Actual Value Float],S.FormulaCategoryName)
        WHEN MATCHED THEN UPDATE SET
            T.ROOTGUID=S.ROOTGUID, T.OrderId=S.OrderId, T.[Batch Name]=S.[Batch Name], T.[Product Name]=S.[Product Name],
            T.[Batch Act Start]=S.[Batch Act Start], T.[Batch Act End]=S.[Batch Act End], T.[Batch Transfer Time]=S.[Batch Transfer Time],
            T.Quantity=S.Quantity, T.[Material Code]=S.[Material Code], T.sp_prot=S.sp_prot,
            T.[SetPoint Float]=S.[SetPoint Float], T.[Actual Value Float]=S.[Actual Value Float], T.FormulaCategoryName=S.FormulaCategoryName;
    END
    ELSE
    BEGIN
        ;WITH Agg AS (
            SELECT [Source Server], [Batch GUID], [Material Name], [Material Code], FormulaCategoryName, sp_prot,
                MAX(ROOTGUID) AS ROOTGUID, MAX(OrderId) AS OrderId, MAX([Batch Name]) AS [Batch Name],
                MAX([Product Name]) AS [Product Name], MIN([Batch Act Start]) AS [Batch Act Start],
                MAX([Batch Act End]) AS [Batch Act End], MAX([Batch Transfer Time]) AS [Batch Transfer Time],
                MAX(Quantity) AS Quantity, MAX([SetPoint Float]) AS [SetPoint Float], MAX([Actual Value Float]) AS [Actual Value Float]
            FROM #TempBatchData
            GROUP BY [Source Server], [Batch GUID], [Material Name], [Material Code], FormulaCategoryName, sp_prot
        )
        MERGE dbo.BatchMaterials AS T
        USING Agg AS S
          ON  T.[Source Server] = S.[Source Server]
          AND T.[Batch GUID]    = S.[Batch GUID]
          AND ( (T.[Material Name] IS NULL AND S.[Material Name] IS NULL) OR T.[Material Name] = S.[Material Name] COLLATE DATABASE_DEFAULT )
          AND ( (T.[Material Code] IS NULL AND S.[Material Code] IS NULL) OR T.[Material Code] = S.[Material Code] COLLATE DATABASE_DEFAULT )
          AND T.FormulaCategoryName = S.FormulaCategoryName COLLATE DATABASE_DEFAULT
          AND ( (T.sp_prot IS NULL AND S.sp_prot IS NULL) OR T.sp_prot = S.sp_prot )
        WHEN NOT MATCHED THEN
          INSERT ([Source Server],[Batch GUID],ROOTGUID,OrderId,[Batch Name],[Product Name],[Batch Act Start],
                  [Batch Act End],[Batch Transfer Time],Quantity,[Material Name],[Material Code],sp_prot,
                  [SetPoint Float],[Actual Value Float],FormulaCategoryName)
          VALUES (S.[Source Server],S.[Batch GUID],S.ROOTGUID,S.OrderId,S.[Batch Name],S.[Product Name],S.[Batch Act Start],
                  S.[Batch Act End],S.[Batch Transfer Time],S.Quantity,S.[Material Name],S.[Material Code],S.sp_prot,
                  S.[SetPoint Float],S.[Actual Value Float],S.FormulaCategoryName)
        WHEN MATCHED THEN UPDATE SET
            T.ROOTGUID=S.ROOTGUID, T.OrderId=S.OrderId, T.[Batch Name]=S.[Batch Name], T.[Product Name]=S.[Product Name],
            T.[Batch Act Start]=S.[Batch Act Start], T.[Batch Act End]=S.[Batch Act End], T.[Batch Transfer Time]=S.[Batch Transfer Time],
            T.Quantity=S.Quantity, T.[Material Code]=S.[Material Code], T.sp_prot=S.sp_prot,
            T.[SetPoint Float]=S.[SetPoint Float], T.[Actual Value Float]=S.[Actual Value Float], T.FormulaCategoryName=S.FormulaCategoryName;
    END

    /* ---- Watermarks: advance the DEDICATED NFM keys in BOTH modes (isolated from the old chain).
       Shadow and live share one incremental watermark; at cutover, reset these keys to NULL once so the
       first live run repopulates dbo.BatchMaterials from all captured data (or use a @StartDate/@EndDate pass). ---- */
    IF @UseDateRange = 0
    BEGIN
        DECLARE @MaxBT_S1 DATETIME, @MaxBT_S2 DATETIME;
        SELECT @MaxBT_S1 = MAX([Batch Transfer Time]) FROM #TempBatchData WHERE [Source Server] = 'Server1';
        SELECT @MaxBT_S2 = MAX([Batch Transfer Time]) FROM #TempBatchData WHERE [Source Server] = 'Server2';
        IF @MaxBT_S1 IS NOT NULL UPDATE dbo.DataSyncTracker SET LastTimeStamp = @MaxBT_S1 WHERE [Source Server] = 'Server1_NFM';
        IF @MaxBT_S2 IS NOT NULL UPDATE dbo.DataSyncTracker SET LastTimeStamp = @MaxBT_S2 WHERE [Source Server] = 'Server2_NFM';
    END

    DROP TABLE #TempBatchData;
END;